@tailwind base;
@tailwind components;
@tailwind utilities;
 



.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}












@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.page {
  transition: 0.45s all;
}
button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

/* .pages-stack.pages-stack--open {
  perspective: 1200px;
} */
div#__next {
  overflow: hidden;
  height: 100vh;
}

.pages-stack {
  /* height: 100vh; */
  overflow: hidden;
}

/* .pages-nav__item a {
  cursor: pointer;
  color: blaxk;
} */

.ti-cursor {
  margin-left: 5px;
}

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}

.slick-slider {
  margin: 0 -15px;
}
.slick-slide {
  padding: 0 15px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

hellotextclass > p {
    shape-outside: circle(); /* Use a circle shape for text wrapping */
    float: left; /* Float the text around the image */
    margin-right: 20px; /* Margin between the text and the image */
  }